*{
	padding: 0;
	margin: 0;
}

#graph{
	height: 100vh; 
	width: 100%;
	background-color: #333;
}

.editor{
	width: 40%;
}
.CodeMirror{
	border-radius: 12px;
}

#codeEditor2 > .CodeMirror{
	width: 100%;
}

.none{
	margin: 0;
	height: 0;
	opacity: 0;
}

h1, h2, h3, h4, h5, h6, p, a, button{
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
}

body{
	background-color: #333;
	color: white;
}

header{
	display: flex;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
	justify-content: space-between;
	height: 40px;
	width: 90%;
	background-color: #404040;
}

#tools > div{
	display: flex;
	align-items: center;
	width: 40%;
}

#tools>.right{
	justify-content: right;
}

main{
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

section{
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

section>h2{
	margin-bottom: 20px;
}

.iconoir{
	display: block;
	font-size: 32px;
	color: white;
}