.graph-widget .data-entry:first-child {
  margin-top: 0;
}

.graph-widget .data-entry {
  margin: 12px 6px;
  padding: 5px 10px;
  background-color: var(--elevation-color-1);
  border-radius: 6px 0 0 6px;
  border-left: 5px solid #000;
  font-family: monospace;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}

.graph-widget.dark-mode .data-entry {
  background-color: var(--yjg-grey-100);
}

.graph-widget .data-entry.node {
  border-left: 5px solid #15AFAC;
}

.graph-widget .data-entry.edge {
  border-left: 5px solid #15AFAC;
}

.graph-widget .data-entry.error {
  border-left: 5px solid #F44336;
}

.graph-widget .data-entry.empty {
  border-left: 5px solid #757575;
}
.graph-widget.dark-mode .data-entry.empty {
  color: #111111;
}

.graph-widget .data-entry .jv-light {
  background: none;
}

.graph-widget .data-entry .jv-light > .jv-code {
  padding: 0;
}

.graph-widget .data-entry .jv-light > .jv-tooltip.right {
  bottom: 0;
  right: 0;
}

.graph-widget .data-entry .jv-container .jv-button {
  padding: 0;
}

.graph-widget .data-entry .jv-light .jv-button > .jv-copy-button {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'%3E%3Cg%3E%3Cpolygon fill='%2352587a' points='7,3 5,3 5,11 11,11 11,12 4,12 4,3 0,3 0,16 11,16 11,5 '/%3E%3Cpolygon fill='%2352587a' points='12,3 16,3 12,0 '/%3E%3Cpolygon fill='%2352587a' points='11,0 5,0 5,11 16,11 16,4 11,4'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
  opacity: .7;
  transition: opacity .3s ease;
}

.graph-widget .data-entry .jv-light .jv-button > .jv-copy-button:hover {
  opacity: 1;
}

.graph-widget .data-entry .jv-light .jv-button.copied > .jv-copy-button:before {
  position: absolute;
  content: 'copied!';
  left: 0;
  transform: translate(-100%);
  color: var(--icon-color);
}

/* hide the collapsible elements of the root entry */
.graph-widget .data-entry .jv-container > .jv-code > .jv-node > .jv-push > .jv-toggle,
.graph-widget .data-entry .jv-container > .jv-code > .jv-node > .jv-push > .jv-item {
  display: none;
}

.graph-widget.dark-mode .data-entry .jv-container.jv-light .jv-item.jv-string {
  color: #4C876C;
}