.graph-widget {
    --yjg-grey-700: #1e1e1e;
    --yjg-grey-600: #3C3C3C;
    --yjg-grey-500: #5A5A5A;
    --yjg-grey-300: #949494;
    --yjg-grey-100: #CECECE;
    --yjg-grey-50: #F5F5F5;

    --yfiles-blue: #242265;

    --background: #ffffff;
    --yfiles-primary-color: var(--yfiles-blue);
    --yfiles-secondary-color: #ff6c00;
    --yed-color: #c0fc1a;
    --data-explorer-color: #fcfe1f;
    --warning-color: #FF5722;

    --elevation-color-1: #FFFFFF;
    --elevation-color-2: #ECEFF1;
    --elevation-color-3: #B4B6B8;

    --toolbar-button-color: #ECEFF1;
    --elevation: #FFFFFF;
    --icon-color: #52587a;
    --text-color: #000000;
}

.graph-widget.dark-mode {
    --background: var(--yjg-grey-700);
    --yfiles-primary-color: #ffffff;
    --yfiles-secondary-color: #ff6c00;
    --yed-color: #c0fc1a;
    --data-explorer-color: #fcfe1f;
    --warning-color: #FF5722;

    --elevation-color-1: var(--yjg-grey-500);
    --elevation-color-2: var(--yjg-grey-300);
    --elevation-color-3: var(--yjg-grey-100);

    --toolbar-button-color: #616161;
    --toolbar-background-color: #808080;
    --elevation: #ABABAB;
    --icon-color: #ECEFF1;
    --text-color: #ECEFF1;
}

