.item {
    float: left;
    padding: 1em;
    margin: .5em;
    border: solid 1px;
}

.label {
    display: block;
}

.thumbnail {
    width: 256px;
    height: 256px;
    object-fit: scale-down;
}

body {
    max-width: initial !important;
}
