[build-system]
requires = ["hatchling >= 1.26"]
build-backend = "hatchling.build"

[project]
name = "usefulkarisch"
version = "0.0.1"
authors = [
  { name="Jack Karisch", email="jwkthrowaway@gmail.com" },
]
description = "Useful functions for me"
readme = "README.md"
requires-python = ">=3.11"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
license = "MIT"
license-files = ["LICEN[CS]E*"]