[tool.poetry]
name = "kurrentdbclient"
version = "1.0b4"

description = "Python gRPC Client for KurrentDB"
authors = [
    "John Bywater <john.bywater@appropriatesoftware.net>",
]
license = "BSD 3-Clause"
classifiers = [
#    "Development Status :: 3 - Alpha",
    "Development Status :: 4 - Beta",
#    "Development Status :: 5 - Production/Stable",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python",
]
readme = "README.md"
homepage = "https://github.com/pyeventsourcing/esdbclient"
repository = "https://github.com/pyeventsourcing/esdbclient"
include = ["kurrentdbclient/py.typed"]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
grpcio = { version = ">=1.51.0,!=1.52.*,<1.69", extras=["protobuf"] }  # 1.52.0 hangs on fork
typing_extensions = "*"

opentelemetry-api = { version = "^1.28.0", optional = true }
opentelemetry-instrumentation = { version = "^0.49b0", optional = true }
opentelemetry-semantic-conventions = { version = "^0.49b0", optional = true }

[tool.poetry.extras]
opentelemetry = ["opentelemetry-api", "opentelemetry-instrumentation", "opentelemetry-semantic-conventions"]

[tool.poetry.group.dev.dependencies]
black = { version = "*", allow-prereleases = true }
flake8 = "*"
flake8-broken-line = "*"
flake8-bugbear = "*"
flake8-coding = "*"
flake8-isort = "*"
flake8-tidy-imports = "*"
isort = "*"
mypy = "*"
#pre-commit = "*"
#pre-commit-hooks = "*"
grpcio-tools = "*"
grpc-stubs = "*"
types-protobuf = "*"
mypy-protobuf = "*"
coverage = "^7.2.7"
fastapi = "^0.111.0"
opentelemetry-exporter-otlp-proto-http = "^1.28.0"
#opentelemetry-exporter-otlp-proto-grpc = "^1.25.0"
opentelemetry-instrumentation-grpc = "^0.49b0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
target-version = ["py38"]
include = '\.pyi?$'
preview = true
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.pip-cache
  | \.poetry
  | \.venv
  | \.vscode
  | _build
  | buck-out
  | build
  | dist
  | kurrentdbclient/protos
)/
'''

[tool.coverage.run]
source = ["kurrentdbclient"]
branch = true
omit = [
    "kurrentdbclient/protos/*"
]
relative_files = true


[tool.coverage.report]
exclude_lines = [
  # Have to re-enable the standard pragma
  "pragma: no cover",
#  # Don't complain about missing debug-only code:
#  "def __repr__",
#  "if self.debug",
#  # Don't complain about some magic methods:
#  "def __str__",
#  # Don't complain if tests don't hit defensive assertion code:
#  "raise AssertionError",
#  "raise NotImplementedError",
#  # Don't complain if non-runnable code isn't run:
#  "if 0:",
#  "if __name__ == .__main__.:",
#  # Don't complain about empty realizations
#  "pass",
#  # Don't complain about abstract methods
#  "@abc.abstractmethod"
]
#ignore_errors = true
#precision = 2

[tool.isort]
combine_as_imports = true
profile = "black"
sections = "FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER"
skip = ".eggs,.pip-cache,.poetry,venv,.venv,dist,kurrentdbclient/protos"
