[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "dvr-tools"
version = "1.1.2"
description = "A command-line interface for managing DVR tools."
authors = [
    { name = "Ilya Krivoshein", email = "htctomsk634@gmail.com" }
]
license = { text = "MIT" }
readme = "README.md"
keywords = ["DVR", "tools", "command-line", "video", "recorder"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

dependencies = [
    "click",
    "requests",
    "pytest"
]

[project.scripts]
dvr-tools = "dvr:cli"

[tool.pytest.ini_options]
pythonpath = "."
